<h1>
    <%= @recipe.name %>
</h1>

<h2>Description:</h2>
<p><%= @recipe.description %></p>
<div>
    <ul class="recipe-actions">
        <li><%= link_to "Back", :back %></li>
        <li><%= link_to "Edit", edit_recipe_path(@recipe) %></li>
        <li><%= link_to "Delete", @recipe, data: {  
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure you want to delete: #{@recipe.name}?"
                } %></li>
    </ul>
</div>